<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  <title>Ruby Lunch</title>
</head>

<body>
  <h1>Lunch</h1>

  <form action="/" method="GET">
    <label for="team">Team:</label><br>
    <input name="team" type="text" id="team" value="<%= @req.params['team'] %>"><br>
    <button>Submit</button>
  </form>

  <p>Today we are going to: <strong><%= @lunch %></strong></p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <label for="numeronym">Try our new Numeronym feature:</label>
  <p id="numeronymOutput">I18n</p>
  <input
    type="text"
    id="numeronymInput"
    value="Internationalization"
    onKeyPress="numeronymize(this.value)"
    onKeyUp="numeronymize(this.value)">
</body>

<script>
  function numeronymize(value) {
    const $output = document.querySelector("#numeronymOutput");
    value = value.replace(/\s/g, "");
    if (value.length > 2) {
      value = `${value[0].toUpperCase()}${value.length-2}${value[value.length-1].toLowerCase()}`
    }
    $output.innerHTML = value
  }

  document.addEventListener("DOMContentLoaded", () => {
    window.confetti();
  })
</script>
</html>

